<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>&copy;&nbsp;2018 Regiony.kz. Все права защищены</p>
                <p>Любое использование материалов допускается только при наличии гиперссылки на&nbsp;regiony.kz</p>
                <p><img src="img/count.png" alt=""></p>
            </div>
            <div class="col-lg-6">
                <nav class="footer__nav mb-4">
                    <a class="" href="#">О проекте</a>
                    <a class="" href="#">Вакансии</a>
                    <a class="" href="#">Реклама</a>
                    <a class="" href="#">Карта сайта</a>
                    <a class="" href="#">Правила</a>
                    <a class="" href="#">Контакты</a>
                </nav>
                <div class="social">
                    <div class="social__title mb-3">Мы в социальных сетях:</div>
                    <a href="#"><img src="img/fb.svg" alt=""></a>
                    <a href="#"><img src="img/vk.svg" alt=""></a>
                    <a href="#"><img src="img/inst.svg" alt=""></a>
                    <a href="#"><img src="img/tube.svg" alt=""></a>
                    <a href="#"><img src="img/telegram.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</footer>