<header class="header">
    <div class="container">
        <div class="row">
            <a href="#" class="header__a1 col-12">
                <img src="/img/bannerА1.png" alt="Баннер А1 ">
            </a>
        </div>
        <div class="row d-flex justify-content-between align-items-center">
            <a href="/" class="header__logo col-lg-3">
                <img src="img/logo.svg" alt="">
            </a>
            <div class="col-5">
                <form class="form-search" action="">
                    <input class="form-search__input" type="text" placeholder="Поиск на сайте">
                    <input class="form-search__submit" type="submit" value="">
                </form>
            </div>
            <div class="col-1">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        RU
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">RU</a>
                        <a class="dropdown-item" href="#">EN</a>
                        <a class="dropdown-item" href="#">KZ</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <select class="custom-select d-block w-100" id="state" required="">
                    <option value="">Акмолинская область</option>
                    <option>Акмолинская область</option>
                </select>
            </div>
        </div>
    </div>
</header>