<div class="nav-main nav-scroller">
    <div class="container">
        <nav class="nav d-flex justify-content-between">
            <a class="nav-main__item" href="#">ГЛАВНАЯ</a>
            <a class="nav-main__item" href="#">НОВОСТИ</a>
            <a class="nav-main__item" href="#">СПОРТ</a>
            <a class="nav-main__item" href="#">КУЛЬТУРА</a>
            <a class="nav-main__item" href="#">ТУРИЗМ</a>
            <a class="nav-main__item" href="#">МОЙ РЕГИОН</a>
            <a class="nav-main__item" href="#">БЛОГИ</a>
            <a class="nav-main__item" href="#">ИНТЕРВЬЮ</a>
        </nav>
    </div>
</div>